body {
    background: #eeeeee;
    width: auto;
    height: auto;
}

.wrapper {
    background: #fff;
    width: 700px;
    margin:85px auto;
    box-shadow: 0 0 3px #cecece;
    padding: 40px 5px 40px 5px;
}

p {
    line-height: 1.5;
    margin-left: 50px;
    margin-bottom: 5px;
}

.fio {
    font-size:19px;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.text-all {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.reason {
    margin-left: 70px;
    margin-bottom: 5px;
    line-height: 1.3;
}

