.menu {
    margin-bottom: 120px;
    margin-left: 80px;
}

#nav {
    position: absolute;
    display: block;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 50px;
   background: #ff68a4;
    height: 30px;
}

clearfix:after {
    content:"";
    clear: both;
    display: block;
}

#nav li {
    list-style: none;
    float: left;
    width: 140px;
    padding-left: 50px;
    line-height: 28px;
}

ul a:hover {
    color: white;
}

#nav a {
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 10;
}

.submenu-1 {
    display: none;
     margin-top: -18px;
    position: absolute;
    left: 190px;
    top: 17px;
    z-index: 11;
}

.submenu > li {
    clear: both;
    left: -61px;
    height: 28px;
    position: relative;
    padding-left: 50px;
     border: 1px solid #953f61;
}

.submenu li {
     background:#ff68a4;
}

.submenu a {
    line-height: 28px;
}

.submenu-1 a {
    line-height: 28px;
    padding-left: 20px;
}

.submenu-1 > li {
    height: 28px;
    border: 1px solid #953f61;
    left: 50px;
}

.submenu-2 {
    display: none;
     margin-top: -18px;
    position: absolute;
    left: 192px;
    top: 47px;
    z-index: 11;
}

.submenu-2 > li {
     border: 1px solid #953f61;
}

.dropdown span{
    margin-top: -20px;
    margin-left: 45px;
    display: block;
    height: 13px;
    width: 12px;
    background:url(../img/arrow.png) left top no-repeat; 
}

.dropdown-1 span{
    margin-top: -20px;
    margin-left: 70px;
    display: block;
    height: 13px;
    width: 12px;
    background:url(../img/arrow.png) -12px top no-repeat;
}

.submenu-1 span{
    margin-top: -20px;
    margin-left: 80px;
    display: block;
    height: 13px;
    width: 12px;
    background:url(../img/arrow.png) -12px top no-repeat;
}