*{
    margin:0;
   padding:0;
}

body {
    background: #dddddd;
}

table {
   width: 500px;
   height: 540px;
   margin:60px auto;
}

 td {border-bottom: 10px solid black;
    border-right: 10px solid black;
}

tr > td:last-child{
    border-right: 0;
}

tr:nth-child(7) > td {
    border-bottom: 0;
}

.white {
    background: white;
    
}

.yellow {
    background: #ffee6e;
}

.red {
    background: #ff6233;
}

.black {
    background: #141213;
}

.blue {
    background: #0d3f81;
}

.yellow-border {
    background: #ffee6e;
    border-bottom: 0;
}

.white-border {
    background: white;
     border-bottom: 0;
}