@font-face {
    font-family: 'League Gothic CnRg';
    src: url('fonts/leaguegothic-condensedregular-webfont.eot');
    src: url('fonts/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_Sans Extrabold';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}

body {
   min-width:320px;
    max-width: 480px;
    width: 100%;
    height: 100%;
    font-family: 'League Gothic Regular';
}

.wrapper {
    min-width:320px;
    max-width: 480px;
    margin: 0 auto;
}

header {
    background-image: url(images/background_960.jpg);
    max-width: 2400px;
    height: 514px;
    margin: 0 auto;
}

.header-top {
    width: 320px;
    margin: 0 auto;
}

.ping {
    padding-top: 65px;
     margin: 0 auto;
}

.ping p {
    font-size: 48px;
    text-decoration: none;  
     text-align: center;
}

.ping p span {
    color: #553c61;
}

header p > a {
    text-decoration: none;
    color: #fff;
}

.home {
    font-size: 24px;
    width: 39px;
    color: #fff;
    text-align: center;
    font-family: 'League Gothic Regular';
    text-decoration: none;
    line-height: 22px;
    border-bottom: 3px solid #edbfff;
    padding-left: 3px;
}

.menu {
    display: none;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-left: 39px;
    line-height: 45px;
}

.menu a:hover {
    border-bottom: 3px solid #edbfff;
}

.clearfix:after {
    content:"";
    clear: both;
    display: block;
}

.container {
    width: 320px;
    margin: 128px auto 79px;
    max-width: 1600px;
    display: block;
}

.container li {
   float: left;
}

.black-line {
        display: none;
}

.left-arrow {
    margin-top: 12px;   
}

.text-header {
    width: 202px;
    height: 55px;
    margin-left: 42px;
    margin-right: 32px;
    overflow: hidden;
}

.text-header h1 {
    font-size: 36px;
    color: #fefefe;
    line-height: 36px;
}

.text-header h2 {
    font-size: 18px;
    color: #edbfff;
}

.text-header p {
    display: none;
}

.iphon {
     display: none;  
}

.right-arrow {
    margin-top: 9px;
}

.hover-box ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.hover-box a {
    text-decoration: none;
}

.hover-box {
    display: block;
    top: 147px;
    text-align: center;
    margin-top: 31px;
    z-index: 5;
}

.hover-box > li {
    display: block;
    position: relative;
}

.hover-box > li > ul {
    position: absolute;
    width: 245px;
    top: -9px;
    left: 38px;
    display: none;
    color: #fff;
    background: #3f3247;
    background: rgba(61, 48, 69, 0.9);
    z-index: 5;
    text-align: center;
    border: 1px solid #111b22;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url("border-radius.htc");
    
}

.hover-box > li:hover > ul {
    display: block;
}

.new-menu a {
    color: #fff;
    display: block;
    height: 40px;
    padding-top: 8px;  
}

.new-menu  {
    display: block;
    font-size: 24px;
    width: 42px;
    z-index: 4;
}

.new-menu a:hover {
    display: block;
    background: rgba(45, 36, 50, 0.9);
    height: 41px;
    border-bottom: 2px solid #edbfff;
}

.slide {
    width: 86px;
    height: 19px;
    margin: 0 auto;
    /*margin: 62px auto 0;
    position: relative;
    top: 25px;*/
}

input[type="radio"] {
    display:none;
}

.slide-first + label {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(images/radiobut.png) left top no-repeat;
    cursor:pointer;
}

.slide-second + label {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(images/radiobut.png) -22px 0 no-repeat;
    cursor:pointer;
}

.slide-third + label {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(images/radiobut.png) -44px 0 no-repeat;
    cursor:pointer;
}

.slide-fourth + label {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:url(images/radiobut.png) -64px 0 no-repeat;
    cursor:pointer;
}

.hor-line-top {
    background: #33253a;
    height: 2px;
}

.hor-line-down {
    background: #735082;
    height: 17px;
}

section {
     height: 577px;
    color: #fff;
    padding-top: 1px;
     /*background: linear-gradient(to top, #37293e, #765283);*/
    /*background-color: #765283;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#37293e), to(#765283)); /* Safari 4-5, Chrome 1-10, iOS 3.2-4.3, Android 2.1-3.0 */
  background: -webkit-linear-gradient(top, #37293e, #765283); /* Chrome 10+, Safari 5.1+, iOS 5+, Android 4+ */
  background-image: -moz-linear-gradient(top, #765283, #37293e); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #37293e, #765283); /* IE 10+ */
  background-image: -o-linear-gradient(top, #37293e, #765283); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#765283', endColorstr='#37293e');    
  background-image: linear-gradient(to top, #37293e, #765283);
    background-color: #765283;
   
}

.company {
    margin: 0 auto;
}

.box {
    width: 260px;
    margin: 54px auto 0;
    overflow: hidden;
}

.box__img {    
    height: 25px;
    width: 27px;
    float: left;
    background:url(images/icon.png) left top no-repeat;
    margin-right: 25px;
}

.box__text {
    float: left;
    width: 208px;
    height: 98px;
    overflow: hidden;
}

.box__text  p {
    font-family: 'Open Sans Light';
    font-size: 16px;
    line-height: 23px;
}

.box__text  h1 {
     font-size: 24px;
     padding-bottom: 4px;
}

.box__link {
     float: right;
     margin-top: 15px;
    
}

.box__link a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
   
}

.box__link a:hover {
     text-shadow: 2px 1px 2px #fff, 0 0 1pt #fff;
}

.box--second {
    margin-top: 24px;
}

.box--second .box__img {
     background:url(images/icon.png) -27px top no-repeat;   
}

.box--third {
    margin-top: 43px;
}

.box--third .box__img {
    background:url(images/icon.png) -54px top no-repeat;    
}

.hor-line-section {
    height: 1px;
    border: none;
    background-color: #21333b; 
}

.hor-line-content {
    height: 1px;
    border: none;
    background-color: #12191f;
}

.hor-line-white {
    height: 1px;
    border: none;
    background-color: #fff;
   box-shadow: 0 1px 6px #c7c7c7;   
}

.content {
     background: #f9f9f9;
}

.main-content {
    margin: 0 auto;
    padding-top: 66px;
}

.blog {
    background: #fff;
    width: 86%;
    height: 273px;
    margin-left: 25px;
    position: relative;
}

.blog img {
    width: 49px;
    height: 49px;
    float: left;
    position: absolute;
    top: 23px;
    left: -5px;
}

.text-blog {
    float: left;
    padding-top: 29px;
    width: 69%;
    margin-left: 53px;
    height: 220px;
    overflow: hidden;
}

.text-blog p {
    font-size: 16px;
    font-family: 'Open Sans Light';
    line-height: 25px;
    white-space:pre-line;
    margin-top: 4px;
}

.text-blog h1 {
     font-size: 24px;
     color: #454545;
}

.text-blog span {
    font-size: 24px;
    color: #edbfff;
}

.slide--down {
    margin-top: 27px;
}

.recent {
    width: 88%;
    margin: 47px auto 89px;
    
}

.recent h1 {
    font-size: 30px;
    color: #454545;  
}

.box--content {
    height: 65px;
    overflow: hidden;
}

.box--content .box__img {
    height: 49px;
    width: 49px;
    float: left;
    background:url(images/circle.png) left top no-repeat;
    margin-top: 17px;
    margin-right: 14px;
}

.box--content .box__text {
    width: 216px;
    height: 65px;
    padding-top: 17px;
}

.box--content .box__text h2 {
    font-family: 'Open_Sans Extrabold';
    display: block;
    width: 71%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}

.box--content .box__text  p {
    font-family: 'Open Sans Light';
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    overflow: hidden;  
}

.box--content3 {
    height: 65px;
    overflow: hidden;
}
}

 .box--content3 .box__img {
        height: 49px;
        width: 49px;
        float: left;
        background:url(images/circle.png) left top no-repeat;
        margin-top: 21px;
        margin-right: 14px;
    }
    
    .box--content3 .box__text h2 {
        font-family: 'Open_Sans Extrabold';
        line-height: 22px;
        overflow: hidden;
        font-size: 16px;
        height: 22px;
        width: 71%;
        
    }
    
    .box--content3 .box__text {
        margin-left: 1px;
        margin-top: 10px;
        width: 77%;
        height: 65px;
    }

    .box--content3 .box__text p {
        font-family: 'Open Sans Light';
        font-size: 16px;
        line-height: 22px;
        height: 22px;
        overflow: hidden;  
    }

.recent-link a {
    color: #000;
    text-decoration: none;
    float: right;
    font-size: 18px;
}

.recent-link {
    margin-top: 18px;
    margin-right: 7px;
}

.logotip {
    width: 260px;
    margin: 0 auto 54px;
}

.logo li {
    display: inline-block;
    margin-right: 27px;
    margin-left: 27px;
    margin-top: 52px;
}

.logo li:nth-child(5) {
    margin-left: 11px;
    margin-right: 1px;
    padding-bottom: 15px;
}

.comments {
    display: none;
}

.menu--down {
    display: none;
}

footer {
    height: 200px;
    background: url(images/foot.png) left top no-repeat;
}

.foot-text {
    margin: 0 auto;
    width: 141px;
}

.foot-text a {
    text-decoration: none;
    font-family: 'Open Sans Light';
    font-size: 12px;
    color: #fff;
}

.foot-text p {
    padding-top: 40px;
}

.foot-text span {
    font-weight: bold;
}


@media (min-width:480px)   {
    
      body {
          min-width: 480px;
          max-width: 767px;
          width: 100%;
    }
    
    header {
        min-width: 480px;
        max-width: 767px;
        width: 100%;
        height: 547px;
    }
 
    .wrapper {
        min-width: 480px;
        max-width: 767px;
        width: 100%;
    }
    
    .black-line {
        display: block;
        height: 246px;
        min-width: 480px;
        max-width: 767px;
        width: 100%;
        opacity: 0.2;
        background: #000;
       margin-top: 165px;
        z-index: 1;
        position: absolute;
        top: 35px;
   
    }
     
    .container {
        width: 480px;
        margin: 0 auto;
        display: block;
         z-index: 2;
         position: relative;
}
    
    .text-header {
        margin-left: 0;
        margin-right: 0;
        margin-top: 129px;
        float: left;
        width: 43%;
    }
    
    .iphon {
        display: block;
        width: 192px;
        height: 274px;
        margin-top: 28px;
        margin-left: 14px;
    }
    
    .iphon img {
        width: 99%;
    }
    
    .left-arrow {
        margin-top: 143px;
        margin-right: 15px;
    }
    
    .right-arrow {
        margin-top: 140px;
        margin-left: 7px;
    }
 
    .box {
        width: 420px;
       margin: 61px auto -33px;
    }
    
    .box__text {
        width: 360px;
    }
    
    .box__text h1 {
        line-height: 24px;
    }
    
    .box__text p {
        line-height: 24px;
    }
    
    
    
    .blog {
        width: 89%;
    }
    
    .text-blog {
        width: 362px;
        margin-left: 56px;
    }
    
    .text-blog h1 {
        display: block;
        float: left;
        margin-right: 4px;
        font-size: 31px;
        line-height: 35px;
        margin-bottom: 10px;
        
    }
    
    .text-blog span {
        font-size: 30px;
    }
    
    .text-blog p {
        clear: both;
        line-height: 25px;
    }
    
    .recent {
        width: 335px;
    }
    
    .recent h1 {
        padding-left: 10px;
    }
    
  .box--content {
        width: 335px;
    }
    
    .box--content .box__img {
        margin-right: 17px;
        margin-left: 10px;
    }
    
    .box--content .box__text {
        width: 259px;
    }
    
    .box--content .box__text h2 {
        width: 265px;
    }
    
    .recent-link {
        margin-top: 22px;
        margin-right: -12px;
    }
    
    .logotip {
        width: 360px;
        margin-bottom: 0;
    }
    
    .logo {
        padding-top: 34px;
    }
    
    .logo li {
        margin-top: 0;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 25px;
    }
    
   
    
    .comments {
         display: block;
        height: 668px;
        background: #ececec;
    }

    .articles {
        margin: 0 auto;
        width: 450px;
        height: 135px;
        padding-top: 78px;
        margin-bottom: 100px;
    }

    .category {
        display: block;
        width: 447px;
        height: 130px;
        overflow: hidden;
        margin-bottom: 56px;
    } 
    
    .ping-down {
        font-size: 48px;
        text-decoration: none;  
        color: #454545;
    }

    
    .ping-down span {
        color: #b9b9b9;
    }

    .category h2 {
        font-size: 16px;
        font-family: Georgia;
        font-style: italic;
        text-decoration: none;  
        color: #c5c5c5;
    }

    .category p {
        color: #787878;
        font-size: 16px;
        font-family: 'Open Sans Light';
        padding-top: 13px;
    }
    
    .category h1 {
        font-size: 24px;
    }
    
    .menu--down {
        display: block;
         margin: 0 auto;  
    }

    .menu--down a:hover {
        border-bottom: 3px solid #edbfff;
    }

    .menu--down li {
        display: inline-block;
        margin-right: 0;
        margin-top: 33px;
        margin-left: 21px;
    }

    .menu--down a {
        font-size: 20px;
        margin-left: 0;
         color: #fff;
        text-decoration: none;
        line-height: 45px;
    }
    
    .foot-text p {
        padding-top: 21px;
    }
}



@media (min-width:768px) {
    
    body {
       max-width: 959px;
       min-width: 768px;
    }
    
    header {
        max-width: 959px;
        min-width: 768px;
        height: 798px;
    }
 
    .wrapper {
        max-width: 959px;
        min-width: 768px;
        width: 100%;
    }
    
    .hover-box {
        display: none;
    }
    
    .menu {
        display: block;
        margin-top: 21px;
    }
    
    .menu a {
        margin-left: 0;
        margin-right: 50px;
    }
    
    .header-top {
    width: 768px;
    margin: 0 auto;
}

    .ping {
        padding-top: 65px;
    }
    
    .ping p {
         text-align: left;
    }
    
      .black-line {
        display: block;
        height: 400px;
        max-width: 768px;
        min-width:481px;
        width: 100%;
        opacity: 0.2;
        background: #000;
        margin-top: 165px;
        z-index: 1;
        position: absolute;
        top: 79px;
    }
     
    .container {
        width: 768px;
        margin: 0 auto;
        display: block;
         z-index: 2;
         position: relative;
        top: 35px;
    }
    
    .text-header {
        margin-left: -15px;
        margin-right: 107px;
        margin-top: 132px;
        float: left;
        width: 284px;
        height: 177px;
        width: 284px
       overflow: hidden;
    }
    
    .text-header h1 {
        font-size: 48px;
        color: #fefefe;
        line-height: 36px;
        line-height: 40px;
    }

    .text-header h2 {
        font-size: 24px;
        color: #edbfff;
         line-height: 45px;
        width: 284px;
        overflow: hidden;
        height: 42px;
    }

    .text-header p {
        display: block;
        font-size: 16px;
        color: #fff;
        font-weight: normal;
        font-family: 'Open Sans Light';
        line-height: 25px;
        height: 117px;
    }

    .iphon {
        display: block;
        width: 267px;
        height: 434px;
        margin-top: 8px;
    }
    
    .iphon img {
        width: 102%;
    }
    
    .left-arrow {
        margin-top: 213px;
        margin-right: 18px;
        
    }
    
    .right-arrow {
        margin-left: 30px;
        margin-top: 212px;
    }
    
    .slide {
        margin-top: 61px;
        margin-right: 158px;
    }
   
    section {
        height: 321px;
    }

    .box {
        width: 28%;
        float: left;
        margin-top: 59px;
        margin-right: 50px;
        overflow: hidden;
    }

    .box__img {   
        margin-right: 21px;
        margin-left: 12px;
    }

    .box__text {
       margin-left: 0;
        width: 155px;
        height: 165px;
        overflow: hidden;
    }

    .box__text  p {
        font-family: 'Open Sans Light';
        font-size: 16px;
        line-height: 23px;
    }

    .box__text  h1 {
         font-size: 24px;
         padding-bottom: 4px;
    }

    .box__link {
         float: right;
         margin-top: 13px;
        margin-right: 5px;
    }
    
    .box--second {
        margin-top: 60px;
    }
    
    .box--second .box__img {
        margin-left: 3px;
    }

    .box--second .box__link {
        margin-right: 18px;
    }
    
    .box--third {
        margin-top: 59px;
        margin-right: 0;
    }
    
    .box--third .box__img {
        margin-left: 0;
        margin-right: 18px;
    }
    
    .box--third .box__link {
        margin-right: 23px;
    }
    
    .main-content {
        padding-top: 98px;
    }

    .blog {
        float: left;
        width: 312px;
        height: 267px;
        margin-left: 25px;
        position: relative;
        margin-bottom: 29px;
    }
    
    .blog img {
        top: 20px;
        left: -25px;
    }

    .text-blog {
        float: left;
        padding-top: 26px;
        width: 270px;
        margin-left: 36px;
        height: 205px;
        overflow: hidden;
    }

    .slide--down {
        margin-left: 138px;
    }
    
    .text-blog h1 {
        margin-bottom: 0px;
        line-height: 28px;
        font-size: 24px; 
        float: none;
    }
    
    .text-blog span {
        font-size: 25px;
    }

    .recent {
        float: left;
        width: 360px;
        padding-bottom: 0;
        margin-top: -50px;
        margin-left: 48px;
    }

    .box--content {
        height: 70px;
        overflow: hidden;
    }

    .box--content .box__img {
        height: 49px;
        width: 49px;
        float: left;
        background:url(images/circle.png) left top no-repeat;
        margin-top: 13px;
        margin-right: 17px;
    }

    .box--content .box__text {
        width: 77%;
        height: 70px;
        padding-top: 15px;
    }

    .box--content .box__text h2 {
        width: 95%;
    }
    
    .recent-link {
        margin-top: 8px;
        margin-right: 22px;
    }
    
    .clear {
        clear: both;
    }
   
    .logotip {
        clear: both;
        width: 100%;
    }
    
    .logo {
        padding-top: 26px;
    }
    
    .logo li {
        margin-left: 3px;
        margin-right: 51px;
    }
    
    .logo li:nth-child(5) {
        margin-left: 10px;
        margin-right: 37px;
        margin-bottom: 0;
    }
    .comments {
        height: 383px;
    }
    
    .articles {
        margin: 0;
        width: 100%;
    }
    
    .category {
        display: block;
        float: left;
        width: 215px;
        height: 207px;
        overflow: hidden;
        margin-bottom: 60px;
        margin-top: 8px;
    } 

    .category h2 {
        font-size: 15px;
        font-family: Georgia;
        font-style: italic;
        text-decoration: none;  
        color: #c5c5c5;
        line-height: 25px;
    }

    .category p {
        color: #787878;
        font-size: 16px;
        font-family: 'Open Sans Light';
        line-height: 21px;
        padding-top: 9px;
    }
    
    .category h1 {
        font-size: 24px;
        line-height: 28px;
    }
    
    .category--second {
        margin-left: 52px;
        margin-right: 46px;
    }

     .menu--down {
        display: block;
        width: 573px;
         margin: 0;
    }

    .menu--down li {
        display: inline-block;
        margin-right: 41px;
        margin-top: 34px; 
        margin-left: 0;
    }

    .menu--down a {
        margin-left: 0;
        margin-right: 0;}
    
    .foot-text {
        float: right;
        margin-top: 0;
        margin-right: 36px;
    }    
}


@media (min-width:960px) {
    
    body {
       max-width: 2400px;
       min-width: 960px;
    }
    
    header {
        max-width: 2400px;
        min-width: 960px;
        height: 844px;
    }
 
    .wrapper {
        max-width: 2400px;
        min-width: 960px;
        width: 100%;
    }
    
  .hover-box {
        display: none;
    }
    
    .menu {
        display: block;
        padding-top: 63px;
    }
    
     .menu a {
        margin-left: 49px;
        margin-right: 0px;
    }
     
    .header-top {
        width: 960px;
    }

    .ping {
        float: left;
        padding-top: 65px;
        margin-right: 123px;
    }
    
    .ping p {
         text-align: left;
    }
    
      .black-line {
        display: block;
        height: 400px;
        max-width: 2400px;
        min-width: 960px;
        width: 100%;
        opacity: 0.2;
        background: #000;
        margin-top: 207px;
        z-index: 1;
        position: absolute;
        top: 70px;
    }
     
    .container {
        width: 960px;
        margin: 0 auto;
        display: block;
        z-index: 2;
        position: relative;
        top: 35px;
}
    
    .text-header {
        margin-left: 0;
        margin-right: 80px;
        margin-top: 214px;
        float: left;
        width: 505px;
        height: 240px;
        overflow: hidden;
    }
    
    .text-header p {
        font-size: 18px;
    }
    
    .text-header h1 {
        font-size: 59px;
        color: #fefefe;
        line-height: 36px;
        line-height: 49px;
    }
    
    .text-header h2 {
        font-size: 29px;
        line-height: 45px;
    }
    
    .iphon {
        display: block;
        width: 274px;
        height: 434px;
        margin-top: 111px;
        margin-left: 31px;
    }
  
    .left-arrow {
        margin-top: 243px;
        margin-right: 4%;
        margin-left: -59px;
    }
    
    .right-arrow {
        margin-left: 4%;
        margin-top: 243px;
    }
    
    .slide {
        margin-right: 305px;
    }
    
    section {
        width: 100%;
        height: 323px;
    }
    
    .company {
        margin: 0 auto;
        width: 960px;
    }
    
    .box {
        width: 32%;
        margin-top: 61px;
        margin-right: 10px;
    }
    
    .box__img {
        margin-left: 15px;
        margin-top: 7px;
    }
    
    .box__text {
        width: 74%;
        margin-left: 8px;
    }
    
    .box__text p {
        line-height: 25px;
    }
    
    .box__text h1 {
        font-size: 30px;    
        line-height: 24px;
        padding-bottom: 9px;
    }
    
    .box__link {
        margin-right: 19px;
    }
    
    .box__link a {
        font-size: 19px;
    }
    
    .box--second {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .box--second .box__img {
        margin-left: 26px;
        margin-top: 9px;
    }
    
    .box--second .box__text {
        width: 74%;
        margin-left: 8px;
    }
        
    .box--second .box__text p {
        line-height: 24px;
    }
    
     .box--second .box__link {
        margin-right: 3px;
    }
    
     .box--third {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .box--third .box__img {
        margin-left: 42px;
        margin-right: 10px;
    }
    
    .box--third .box__text {
        width: 74%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .box--third .box__text h1 {
        font-size: 30px;
    }
    
    .box--third .box__text p {
        line-height: 24px;
    }
    
     .box--third .box__link {
        margin-right: 9px;
    }
    
    .box--third .box__link a {
        margin-right: -15px;
    }
    
    .main-content {
        width: 960px;
        height: 418px;
    }
    
    .blog {
        background: url(images/comment.png) no-repeat;
        float: left;
        width: 405px;
        height: 299px;
        top: 36px;
        margin-left: 25px;
        padding-left: 50px;
        position: relative;
        border: none;
    }
    
    .blog img {
        margin-top: -4px;
    }
    
    .text-blog {
        float: left;
        padding-top: 26px;
        width: 354px;
        margin-left: -9px;
        height: 205px;
        overflow: hidden; 
    }
    
    .text-blog p {
        font-size: 16px;
        font-family: 'Open Sans Light';
        line-height: 24px;
        white-space:pre-line;
        margin-top: 4px;
        padding-top: 10px;
        clear: both;
    }
 
    .text-blog span {
        font-size: 30px;
        padding-left: 3px;   
    }
    
    .text-blog h1 {
        font-size: 30px;
        color: #454545;
        float: left;
        line-height: 29px;
    }
 
    .recent {
        width: 450px;
        height: 275px;
        float: left;
       margin-left: 30px;
        margin-top: -20px;
        padding-bottom: 5px;
    }
    
    .box--content {
        width: 447px;
    }
    
    .box--content .box__img {
        margin-left: 4px;
        margin-top: 15px;
    }
    
    .box--content .box__text {
        margin-left: 70px;
        padding-top: 16px;
        width: 371px;
        margin-top: -64px;
    }
    
    .box--content .box__text p {
        line-height: 25px;
    }
    
    .box--content3 .box__img {
        background:url(images/circle.png) left top no-repeat;
        margin-left: 3px;
        margin-top: 8px;
        width: 49px;
        height: 49px;
    }
    
    .box--content3 .box__text h2 {
        font-family: 'Open_Sans Extrabold';
        line-height: 22px;
        overflow: hidden;
        font-size: 16px;
        
    }
    
    .box--content3 .box__text {
        margin-left: 1px;
        margin-top: 10px;
        width: 376px;
        height: 70px;
    }
    
    .recent-link {
        margin-top: 10px;
    }
       
    .recent-link a {
        font-size: 19px;
        margin-top: -2px;
        margin-right: 14px;
    }

     .logotip {
        clear: both;
        text-align: center;
         height: 120px;
    }
    
     .menu--down {
        display: block;
        float: left;
        width: 82%;
        margin: 0;
        padding-top: 1px;
    }

    .articles {
        width: 960px;
        margin: 0 auto;
        padding-top: 95px;
    }
    
    .category {
        height: 213px;
        width: 281px;
    }
    
    .category h1 {
        font-size: 48px;
        line-height: 42px;
    }
    
    .category h2 {
        line-height: 45px;
    } 
    
    .category p {
        line-height: 24px;
    } 
    
    .category--second h1 {
        font-size: 30px;
        margin-top: -6px;
        padding-left: 4px;
    }
    
     .category--second p {
        padding-left: 3px;
    }
    
     .category--third h1 {
        font-size: 30px;
        margin-top: -6px;
        padding-left: 4px;
    }
    
     .category--third p {
        padding-left: 3px;
    }
    
    footer {
        height: 113px;
    }
    
    .menu--down li {
        margin-top: 32px;
    }
    
    .menu--down a {
        margin-left: -8px;
        margin-right: 19px;
    }
    
    .foot-left {
        width: 965px;
        height: 100px;
        margin: 0 auto;
    }
    
    .foot-text {
        margin-top: 43px;
    }    
    
}