*{
    margin:0;
   padding:0;
}

body {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 910px;
    height: 1195px;
    margin: 0 auto;
}

header {
    height: 25px;
    margin-top: 17px;
    margin-bottom: 10px;
}

.tel img {
    float: left;
    margin: 3px 4px 0 7px;
}

.tel p {
    float: left;
    display: block;
    margin-right: 16px;
    line-height: 31px;
    font-size:19px;
    font-family: Arial;
    color: #5e696d;
}


.forma {
    float: left;
    width: 495px;
    height: 25px;
    background: linear-gradient(to top, #0c3357, #1f6787);
    border-radius: 4px 4px;
    margin-left: -1px;
    margin-top: -1px;
    box-shadow: 0 0 3px #1b5288;
}

.forma a {
    font-size: 12px;
}

.forma img {
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 2px;
}

.login {
    height: 16px;
    width: 110px;
    margin-top: 2px;
    margin-right: 2px;
}

[type="text"]::-webkit-input-placeholder {
    color: #97a2a6;
    color: #97a2a6;
    padding-left: 2px;
    
}

[type="password"]::-webkit-input-placeholder {
    color: #97a2a6;
    color: #97a2a6;
    padding-left: 2px;
    
}
[type="text"] {
    width: 110px;
}

[type="password"] {
    width: 110px;
    
}

form {
    float: left;
}

.forma a {
    color: #bfbfbf;
    font-size: 12px;
    font-family: "Lucida Sans Unicode";
    line-height: 13px;
}

.enter {
    float: left;
    margin-left: 3px;
    margin-top: 7px;
    margin-right: 17px;
    color:#fff;
    font-size: 11px;
    font-family: "Lucida Sans Unicode";
}

.enter a {
    text-decoration: none;
    color:#fff;
    font-size: 11px;
    font-family: "Lucida Sans Unicode";
}

.passw {
    display: block;
    margin-top: 8px;
}

.top-icon {
    display: block;
    float: right;
    width: 55px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 11px 11px;
    margin-right: 7px;
    margin-top: 1px;
    padding: 0 12px 0 8px;
}

.top-icon a {
   margin-right: 3px;
   text-decoration: none;
}

.top-icon li {
     display: inline-block; 
}


.menu {
    height: 37px;
    background: linear-gradient(to top, #030303, #2d3236);
    border-radius: 5px 5px;
    margin-top: 3px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
}

.menu-list {
    float: left;
    width: 503px;
    margin-left: 125px;
}

.menu-list li {
    display: inline-block;
}

.menu-list a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 14px;
     font-family: "Lucida Sans Unicode";
    line-height: 37px;
  
}

.company {
    display: block;
    width: 122px;
}

.company a {
   padding-left: 21px;
}

.pay {
     display: block;
    width: 90px;
}

.pay a {
   padding-left: 15px;
}

.delivery {
     display: block;
    width: 101px;
}

.delivery a {
   padding-left: 8px;
}

.articles {
    display: block;
    width: 73px;
}

.articles a {
   padding-left: 8px;
}

.cont {
    display: block;
    width: 100px;
   
}

.cont a {
   padding-left: 10px; 
}


.menu-list a:hover {
    display: block;
    height: 26px;
    background: #124366;
    border-radius: 7px;
    color:#fff;
    line-height: 26px;
}

.menu-right {
    float: left;
}

.prod {
    float: left;
    margin-top: 12px;
    margin-left: 6px;
}

.prod p {
    color: #929b9f;
    font-family: Arial;
    font-size: 12px;
    line-height: 11px;
    
}

.prod span {
    color: #0d5a8f;
     font-family: Arial;
    font-size: 12px;
}

.all-sum {
    float: left;
    margin-top: 12px;
    margin-left: 12px;
}

.all-sum p {
    color: #929b9f;
    font-family: Arial;
    font-size: 12px;
     line-height: 11px;
}

.all-sum span {
    color: #0d5a8f;
     font-family: Arial;
    font-size: 12px;
    padding-left: 10px;
}

.menu-right img {
    margin-left: 55px;
    margin-top: 7px;
}

.search-car {
    height: 132px;
    width: 414px;
    float: left;
    margin-left: 3px;
    margin-top: 9px;
    margin-right: 13px;
    border: 1px solid #999999;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #9f9fa0;
}

.search-1 {
    float: left;
    width: 178px;
    font-size: 10px;
}

.search-2 {
    float: left;
     width: 178px;
    font-size: 10px;
}

.search {
    float: right;
}

.search-tire {
    height: 132px;
    width: 192px;
    float: left;
    margin-top: 9px;
     margin-right: 9px;
    border: 1px solid #999999;
    border-radius: 20px;
     box-shadow: 2px 2px 3px #9f9fa0;
}

.search-disk {
    height: 132px;
    width: 265px;
    float: left;
    margin-top: 9px;
   
    border: 1px solid #999999;
    border-radius: 15px;
     box-shadow: 2px 2px 3px #9f9fa0;
}

.name-catalog {
     border: 1px solid #79878d;
    border-radius: 12px;
    margin-left: -1px;
     width: 180px;
    height: 25px;
    margin-bottom: 14px;
}
.name-catalog p {
    display: block;
    margin-top: 1px;
    margin-left: 2px;
}

.name-catalog span {
    display: block;
    margin-top: -18px;
    margin-left: 25px;
    font-size: 13px;
    color: #114165;
    font-family: "Lucida Sans Unicode";
}

.name-prod {
    margin-bottom: -5px;
   
}

.name-prod li {
    list-style: circle inside;
    margin-left: 37px;
}

.left-side a {
    text-decoration: none;
    color: #465961;
    font-size: 12px;
    font-family: "Lucida Sans Unicode";
    line-height: 26px;
    margin-left: -3px;
}

.left-side a:hover {
    color: #0c3256;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.left-side {
    width: 192px;
    height: 300px;
    float: left;
     margin-top: 19px;
}

.radius {
    border: 1px solid #79878d;
    border-radius: 12px;
    width: 147px;
    height: 26px;
    margin-left: 2px;
}

.radius img {
    display: block;
    margin: 1px 3px;
}

.radius span {
    display: block;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode";
    margin-top: -18px;
    margin-left: 27px;
}

main {
    width: 525px;
    height: 628px;
    float: left;
    background: #c7d0d4;
    margin-top: 17px;
    margin-bottom: 34px;
}
figure {
    display: block;
    float: left;
    width: 136px;
    height: 177px;
    margin: 14px 13px 12px 21px;
}

figure > a {
    display: block;
    width: 135px;
    height: 128px;
    border: 1px solid #a7b0b3;
    border-radius: 7px;
    background: #fff;
}

figure img {
    display: block;
    margin: 3px 27px;
    
}

figure span {
    font-family: "Lucida Sans Unicode";
    font-size: 15px;
    color: #206988;
    font-weight: bold;
}

figure p {
    color: #1f2528;
    font-size: 13px;
     font-family: "Lucida Sans Unicode";
     text-align: center;
}

figcaption {
    margin-top:5px;
    margin-left: 7px;
    
}

figcaption p {
    color: #114165;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    font-style: italic;
}

figcaption span {
    color: #114165;
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    font-style: italic;
}


.right-side {
    width: 182px;
    height: 300px;
    float: left;
     margin-top: 17px;
    margin-left: 8px;
}

.name-catalog-right {
  border: 1px solid #79878d;
    border-radius: 12px;
    margin-left: 1px;
     width: 180px;
    height: 25px;
    margin-bottom: 14px;
}
.name-catalog-right p {
    display: block;
    margin-top: 2px;
    margin-left: 2px;
}

.name-catalog-right span {
    display: block;
    margin-top: -18px;
    margin-left: 29px;
    font-size: 14px;
    color: #114165;
    font-family: "Lucida Sans Unicode";
}

label {
    line-height: 1.5;
}

input [type="checkbox"] {
    display: inline-block;
}

.check-brend {
    display: block;
    margin-left: 26px;
}

.check-brend label {
    color: #465961;
    font-size: 13px;
    font-family: "Lucida Sans Unicode";
    line-height: 1.9;
    padding-left: 7px;
}

.radius-right {
    border: 1px solid #79878d;
    border-radius: 12px;
    width: 135px;
    height: 26px;
    margin-left: 15px;
    margin-bottom: 6px;
    margin-top: 8px;   
}

.radius-right img {
    display: block;
    margin: 1px 5px;
}

.radius-right span {
    display: block;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode";
    margin-top: -17px;
    margin-left: 30px;
}

.button {
    width: 82px;
    height: 28px;
    background-image: url(images/button.png);
    margin-top: 16px;
    margin-left: 24px;
}

[type="submit"] {
    display: block;
    opacity: 0;
}

.logotip {
    display: block;
    margin-left: 118px;    
}

.logotip li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 23px;
}

footer {
    width: 910px;
    height: 102px;
    background: #213a4d;
}

.foot-nav {
    color: #bec6c9;
    font-family: Arial;
    padding-left: 304px;
    font-size: 12px;
    padding-top: 14px;
    padding-right: 14px;
}

.foot-nav a {
    padding-left: 4px;
    padding-right: 13px;
    text-decoration: none;
    color: #bec6c9;
    font-family: Arial;
    font-size: 12px;
}

.foot-nav a:nth-child(3) {
    padding-left: 7px;
    padding-right: 13px;
    text-decoration: none;
    color: #bec6c9;
    font-family: Arial;
    font-size: 12px;
}

.foot-nav a:last-child {
    padding-left: 10px;
    padding-right: 13px;
    text-decoration: none;
    color: #bec6c9;
    font-family: Arial;
    font-size: 12px;
}

.foot-nav a:hover {
    color: #52abcb;
}

.copyright {
    display: block;
    color: #7f4740;
    text-decoration: none;
    font-family: Arial;
    font-size: 10px;
    margin-left: 379px;
    margin-top: 16px;
}